

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
		color: #;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html,
button,
input,
select,
textarea {
    font-family: Helvetica, Sans-Serif, Sans;
}

html {
    background: #fff;
    color: #111;
    font-size: 17.5px;
}

img.r {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.hoerproben h2, .kritiken h2 {
	color: #c81113;
	margin-top: 3em;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

h1,h2,h3,p,li {
    line-height: 1.4em;
}

hr {
    width: 20%;
}

td, th {
    vertical-align: top;
}

.center {
    text-align: center;
}

.success {
    color: #3fa535;
}

.error {
    color: #e94c39;
}

.galleria {
    max-width: 100%;
    height: 500px;
}

.container {
    margin: 0 auto;
    position: relative;
    padding: 12.5px;
    min-width: 375px;
    max-width: 1500px;
}

#main {
    max-width: 750px;
}

.hoerproben audio {
	width: 750px;
	max-width: 100%;
}

.box {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2em;
}
table.stat tr {
    border: 1px solid black;
}

table.stat td {
    border: 1px solid black;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;

}

table.stat th {
    border: 1px solid black;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    background-color: #ccc;
}

.veranstaltungen {
    margin-bottom: 2em;
}

.eventdetail img {
	width: 100%;
	max-width: 100%;
    height: auto;
}

p.menubuttonp {
	margin: 0;
	padding: 0;
}

p.menuinfobuttonp {
	margin: 1.8em 0 0 0;
	padding: 0;
}

a.menuinfobutton {
	font-weight: bold;
	-moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}

.menubutton {
	text-decoration: none;
	display: inline-block;
	height: 2.4em;
	line-height: 2.4em;
	//border: 1px solid #707;
    padding-left: 1.8em;
    border-radius: 0.2em;
    outline: none;
}

.veranstbutton {
	margin-top: 1.8em;
}
#filtertoggle {
	margin-top: 2em;
	margin-bottom: 2px;
	height: 2.4em;
	border: 1px solid #707;
    padding-right: 2em;
    padding-left: 0.6em;
    border-radius: 0.2em;
    background: #fafafa 	url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 96% 50%;
}

summary:hover {
	text-decoration: underline;
}

#pdfexport {
	float: right;
	margin-top: 2em;
	text-decoration: none;
	color: #000;
	display: block;
	margin-bottom: 2px;
	height: 2.4em;
	line-height: 2.4em;
	//border: 1px solid #707;
    padding-left: 2.6em;
    border-radius: 0.2em;
    background: url("../img/icon_pdf.png") no-repeat 0% 50%;
    background-size: auto 76%;
    outline: none;
}

#pdfexport:hover {
	color: #707;
	background: url("../img/pdf_icon_over.png") no-repeat 0% 50%;
    background-size: auto 76%;
}

.sanktnikolaichor #pdfexport:hover {
	color: #c81113;
	background: url("../img/pdf_icon_over_chor.png") no-repeat 0% 50%;
    background-size: auto 76%;
}

#filtertoggle-alter {
	border: 1px solid #ccc;
	background: #fff;
	padding: 0.2em 0.5em 0.2em 0.5em;
	color: #000;
	border-radius: 0.2em;
}

div.filtertext {
	//border: 1px solid;
	line-height: 2.6em;
}

.filter-textfield {
	line-height: 1.4em;
	height: 2em;
	margin: 0 0.4em;
	padding: 0 0.5em;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #707;
    border-radius: 0.2em;
    overflow: hidden;
    background: #fafafa;
}

.sanktnikolaichor .filter-textfield {
	border: 1px solid #c81113;
}

.filter-button {
	line-height: 1.4em;
	height: 2em;
	margin: 0 0.4em;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #707;
    border-radius: 0.2em;
    overflow: hidden;
    background: #fafafa;
}

.sanktnikolaichor .filter-button {
	border: 1px solid #c81113;
}

.filter-dropdown {
	line-height: 1.4em;
	height: 2em;
	margin: 0 0.4em;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #707;
    width: 8em;
    border-radius: 0.2em;
    overflow: hidden;
    background: #fafafa 	url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 96% 50%;
}

.sanktnikolaichor .filter-dropdown {
	border: 1px solid #c81113;
}

.filter-dropdown select {
	padding: 0.4em;
    width: 120%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;

	color: #000;
	color: rgba(0,0,0,0);
	text-shadow: 0 0 0 #000;
}

.eventdetailbutton {
	line-height: 1.4em;
	font-style: italic;
	border: 1px solid #ccc;
	border: none;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	//margin-left: 1em;
	padding: 0.2em;
	padding-left: 1.8em;
	border-radius: 0.2em;
}

.veranstaltungen tr td:last-child {
	width: 100%;
}

.veranstaltungen td, .veranstaltungen th {
    padding: 0.4em 2em 0.4em 0;
    line-height: 1.2em;
    vertical-align: top;
    //border: 1px solid;
}

.veranstaltungen p {
    margin: 0;
    line-height: 1.2em;
}

.veranstaltungen .datum td {
    font-weight: bold;
    padding-top: 2em;
}

.veranstaltungen .datum_first td {
    font-weight: bold;
    //padding-top: 2em;
}

.veranstaltungen .datum:first-child td {
    font-weight: bold;
    padding-top: 0.4em;
}

.veranstaltungen .kwinfo {
	border-top: 1px solid;
}

.veranstaltungen .kwinfo td {
	text-align: right;
	margin: 0;
	padding: 0.2em 0 0 0;
}

.ortred {
	color: #CD3700;
}

#access {

}

#site h3 {
    display: none;
}

#nav {

}

#nav a,
#nav a:visited {
    text-decoration: none;
}

#nav a:focus,
#nav a:hover {

}

#nav li.selected > a,
#nav li.selected > a:visited,
#nav li.selected > a:focus,
#nav li.selected > a:hover {
    text-decoration: underline;
}

#nav ul.top {
    margin: 0;
    padding: 0;
}

#nav ul.sub {
    padding: 0 0 0 2em;
}

#nav li {
    list-style-type: none;
    margin: 0;
    padding: 0.2em 0;
}

#nav .sub li.ueb {
	display: none;
}

#footer {
    font-size: 0.8em;
}

.eventdetail {
	padding: 1.5em;
	display: none;
	//border-radius: 0.2em;
	border: 1px solid #ccc;
}

.eventdetail div.ort {
	margin-bottom: 2em;
}

.eventdetail div.informationen {
}

.eventdetails div.kategorien {
	margin-top: 2em;
}

.eventdetail div.kategorien .content {
	font-style: italic;
}

.eventdetail div.content {
	margin-left: 1em;
	margin-top: 0.4em;
}

.klappinfo_open {
	margin: 0;
	padding: 0;
}

.klappinfo_open.klappinfo_right {
	text-align: right;
}

.klappinfo_open a, .klappinfo_open a:active, .klappinfo_open a:focus, .klappinfo_open a:visited {
	outline: 0;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
}

.klappinfo_open.klappinfo_margin {
	margin-top: 2em;
}

.klappinfo {
	display: none;
	position: relative;
	padding: 0;
	margin: 0;
}

.orgelslider {
	width: 400px;
	max-width: 100%;
}

.orgelslider p {
	margin: 0 0 2em;
}

.orgeltable {
	width: 100%;
}

.orgeltable th {
	text-align: left;
}

.orgeltable td {
	//border: 1px solid #ccc;
	//padding: 8px 3px;
}

.orgeltable .centered {
	text-align: center;
}

.breaker {
	clear: both;
	height: 1px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../img/loading2.gif')
                50% 50%
                no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}

.blechblaeserensemle-logo {
	float: left;
	margin: 0 1em 1em 0;
}

html {
    background: #fff;
    color: #000;
}

hr {
    border-top: 1px solid #000;
}

a, a:visited {
    color: #00f;
    text-decoration: underline;
}

a:focus, a:hover {
    background: #ff0;
    color: #000;
    text-decoration: none;
}

a.img:focus, a.img:hover {
    background: transparent;
}

#site a, #site a:visited {
    color: #000;
    text-decoration: none;
    background: transparent;
}

#site a:focus, #site a:hover{
    color: #000;
    text-decoration: none;
    background: transparent;
}

.eventdetailbutton {
	background: #fff;
	color: #00F;
}

.eventdetailbutton:hover {
	color: #000;
	background: #ff0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 774px) {

#google_translate_element {
    margin-bottom: 1em;
}

.blechblaeserensemle-logo {
	float: none;
	margin: 0;
}

}


@media only screen and (max-width: 1049px) {

.wide {
    display: none;
}

#nav li.sanktnikolaichor.selected > a,
#nav li.sanktnikolaichor.selected > a:visited,
#nav li.sanktnikolaichor.selected > a:focus,
#nav li.sanktnikolaichor.selected .sub li.selected > a,
#nav li.sanktnikolaichor.selected .sub li.selected > a:visited,
#nav li.sanktnikolaichor.selected .sub li.selected > a:focus,
#nav li.sanktnikolaichor.selected a:hover {
	color: #c81113;
}

}

@media only screen
    and (min-width: 775px)
    and (max-width: 1049px) {

.narrow { display: none; }

.box .fleft {
    float: left;
    width: 45%;
}

.box .right {
    margin-left: 55%;
}

.box .left {
    margin-right: 55%;
}

.box .fright {
    float: right;
    width: 45%;
}

.container {
    position: relative;
}

#header {
    position: relative;
    height: 162.5px;
    overflow: hidden;
}

#access {
    display: none;
}

#site {
    position: absolute;
    top: 0;
    left: 243.75px;
    right: 0;
    height: 162.5px;
    margin: 0;
}

#site h3 {
    font-size: 1.4em;
    padding: 3.4em 0 0 1.4em;
    font-weight: normal;
    color: red;
}

#site h3 span {
    display: inline-block;
    padding: 0 1.8em;
}

#logo {
    margin: 0;
    position: absolute;
    left: 275px;
    top: 18.75px;
    bottom: 18.75px;
    right: 25px;
}

#presentation {
    margin-top: 1em;
    font-size: 100%;
}

#main {
    margin-left: 270px;
    padding-top: 25px;
    padding-bottom: 187.5px;
    min-height: 500px;
}

.main_fullwidth {
    margin-left: 270px;
    padding-top: 25px;
}

#nav {
    position: absolute;
    width: 243.75px;
    top: 177px;
    left: 12.5px;
    height: 775px;
    padding: 0;
    background: transparent;
}

#nav.fixed {
    position: fixed;
    top: 2px;
    left: auto;
}

#nav-top {
    width: 193.75px;
    padding: 15px 25px;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: left;
}

#nav ul.top {
    margin: 0;
    padding: 0;
    text-align: left;
}

#nav ul.sub {
    display: none;

}

#nav li.selected ul.sub {
    display: block;
    padding: 0 0 0 25px;
    margin: 0;
    text-align: left;
}

#google_translate_element {
    /*position: absolute;
    right: 10px;
    bottom: -45px;*/
}

#header {
    border-bottom: 1px solid #000;
}

}

@media only screen and (min-width: 1050px) {

.narrow { display: none; }

.box .fleft {
    float: left;
    width: 45%;
}

.box .right {
    margin-left: 55%;
}

.box .left {
    margin-right: 55%;
}

.box .fright {
    float: right;
    width: 45%;
}

#blackbox {
    border: 1px solid black;
    width: 65%;
}

#blackbox p {
    padding: 5%;
}

.minipic {
    width: 25%;
}

.gallerypic {
    width: 25%;
    padding-right:5%;
    padding-bottom:5%;
}

.zitat {
    text-align: right;
    font-style: italic;
    padding-right: 5%;
}

.container {
    position: relative;
}

#header {
    position: relative;
    height: 162.5px;
    overflow: hidden;
}

#access {
    position: absolute;
    top: 0;
    left: 206.25px;
    width: 187.5px;
    height: 162.5px;
    padding: 15px 25px;
    margin: 0;
}

#access a {
    display: none;
}

#site {
    position: absolute;
    top: 0;
    left: 445.75px;
    right: 0;
    height: 162.5px;
    margin: 0;
}

#site h3 {
    font-size: 1.6em;
    padding: 2.65em 0 0 1.4em;
    font-weight: normal;
}

#site h3 span {
    display: inline-block;
    padding: 0 1.6em;
}

#logo {
    margin: 0;
    position: absolute;
    left: 475px;
    top: 18.75px;
    bottom: 18.75px;
    right: 25px;
}

#presentation {
    margin-top: 3em;
    font-size: 100%;
}

#main {
    margin-left: 472.5px;
    padding-top: 25px;
    padding-bottom: 187.5px;
    min-height: 500px;
}

.main_fullwidth {
    margin-left: 472.5px;
    padding-top: 25px;
}

#nav {
    position: absolute;
    width: 445.75px;
    top: 177px;
    left: 12.5px;
    height: 800px;
    padding: 0;
    background: transparent;
}

#nav.fixed {
    position: fixed;
    top: 2px;
    left: auto;
}

#nav-top {
    width: 156.25px;
    padding: 15px 25px;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: right;
}

#nav ul.top {
    margin: 0;
    padding: 0;
    text-align: right;
}

#nav ul.sub {
    display: none;

}

#nav li.selected ul.sub {
    position: absolute;
    display: block;
    top: 0;
    left: 208.25px;
    width: 200px;
    padding: 15px 25px;
    margin: 0;
    text-align: left;
}

#google_translate_element {
    /*position: absolute;
    right: -239.5px;
    bottom: -45px;*/
}

.zoomable .zoom {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 26px;
    height: 26px;
    background: url('../img/lupe.png') no-repeat;
    cursor: pointer;
}

#header {
    border-bottom: 1px solid #000;
}

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
